<!--

TODO - Navigation buttons
TODO - Cleanup layout - everything is here but its UGLY

-->


<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">

    function showColorName(id){
      var cdesc = document.getElementsByClassName("desc")
      colordesc.innerHTML = cdesc[id].innerHTML
    }
    
    function changeDivContent(ctl) { 
      largepic.innerHTML = '<img id="' + ctl.id +'" src="' + ctl.src + '" height="32" width="32">'
      showColorName(ctl.id)  
    }
    
    function showPic(addend){
     
      if (addend != 0)
      {
        var imgs = document.getElementById("largepic").getElementsByTagName("img");
        newID = parseInt(imgs[0].id) + addend
      }
      else
      {
        newID = addend
      }
      
      if (newID >= 0)
      {
        var thumbs = document.getElementById("imggal").getElementsByTagName("img")
        largepic.innerHTML = '<img id="' + newID +'" src="' + thumbs[newID].src + '" height="32" width="32">'
        showColorName(newID)
      }
    }
    
</script>
<style>
  div.navigation{
    margin: 5px;
    float: left;
    width: 100%;
  }

  div.navbtn{
    margin: 5px;
    float: left;
    width: 5%;
    text-decoration: underline;
  }

  div.navdesc{
    padding: 15px;
    vertical-align: bottom;
    font-size: 1.875em;
    text-align: left;
  }
  
  div.pic {
    margin: 5px;
    float: left;
    width: 20%;
  }
  
  div.pic img {
    width: 80%;
    height: auto;
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    font-size: 0.875em;
    text-align: center;
  }
</style>
</head>
<body onload="showPic(0)">

<form action="" method="get">
  <select name="lines" onChange="this.form.submit();">
    <option value = "">Please choose a line</option>
    <% @lines.each do |line| %>
    <option value="<%= line %>" > <%= line %> </option>
    <% end %> 
  </select>
</form>

<div id="shinglelines">
  <%
  vars = request.query_parameters
  line =vars['lines']
  if line.nil?
    line = "Duration"
  end
  %>
  <h1><%=line%></h1>
</div>

<div id = "nav" class="navigation">
  <div id = "prev" class="navbtn">
      <a onclick="showPic(-1)">Previous</a>
  </div>

  <div id="largepic" class="pic">
    <img src="<%=  %>" height="32" width="32">
    
  </div>

  <div id = "next" class="navbtn">
    <a onclick="showPic(1)">Next</a>
  </div>

  <div id = "colordesc" class="navdesc">
    
  </div>

</div>

<div id="imggal">

  <%
  id=0
  @shingles.each do |props|
    if props["name"] == line
  %>

  <div class="gallery" >
    <img id="<%= id %>" src="<%= props["url"] %>" alt="" width="600" height="400" onclick="changeDivContent(this)">
    <div id="<%= id %>" class="desc"><%= props["name"].to_s + " - " + props["color"].to_s %></div>
  </div>

  <%
      id = id + 1
    end
  end
  %>
</div>

</body>
</html>